<footer
  class='bg-white rounded-lg shadow m-4 dark:bg-gray-800 text-center px-20'
>
  <div
    class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
  >
    <span class='text-sm text-gray-500 sm:text-center dark:text-gray-400'>©
      2024
      <a href='https://flowbite.com/' class='hover:underline'>BookStore</a>. All
      Rights Reserved.
    </span>
    <ul
      class='flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0'
    >
      <li>
        <a
          href='/admin/dashboard'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Dashboard</a>
      </li>
      <li>
        <a
          href='/admin/book'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Book</a>
      </li>
      <li>
        <a
          href='/admin/category'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Category</a>
      </li>
      <li>
        <a
          href='/admin/feedback'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Feedback</a>
      </li>
      <li>
        <a
          href='/admin/order'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Order</a>
      </li>
      <li>
        <a
          href='/admin/promotion'
          class='hover:underline hover:text-blue-500 me-4 md:me-6'
        >Promotion</a>
      </li>
    </ul>
  </div>
</footer>