<header class='container bg-black text-white'>
  <div
    class='max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4'
  >
    <div
      class='flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse ml-auto items-center gap-3'
    >
      {{#if user}}
        <p class='font-semibold text-xl'>Hello, Admin</p>
        <img
          id='avatarButton'
          type='button'
          data-dropdown-toggle='userDropdown'
          data-dropdown-placement='bottom-start'
          class='w-10 h-10 rounded-full cursor-pointer border-[1px] object-cover'
          src='{{user.avatar}}'
          alt='User dropdown'
        />
        <div
          id='userDropdown'
          class='z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600'
        >
          <div class='py-1'>
            <a
              href='/admin/auth/logout'
              class='block text-red-500 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
            >Logout</a>
          </div>
        </div>
      {{else}}
        <a
          href='/admin/auth/login'
          class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
        >Login</a>
      {{/if}}
    </div>
  </div>
</header>