<div
  class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700'
>
  <div class='bg-green-100 rounded-md p-2 w-fit'>
    <svg
      class='w-7 h-7 text-green-800 dark:text-white'
      aria-hidden='true'
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      fill='none'
      viewBox='0 0 24 24'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312'
      />
    </svg>

  </div>

  <h5
    class='mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white'
  >Order</h5>
  <p
    class='mb-3 text-gray-600 font-semibold dark:text-gray-400 flex justify-between text-lg'
  >
    Total orders:
    {{cardStatistic.totalOrder}}
  </p>
  <p class='font-normal text-gray-500 dark:text-gray-400 flex justify-between'>
    <span class='text-md text-blue-500 font-medium'>Today:
      {{cardStatistic.orderToday}}</span>
    <span class='text-md text-blue-500 font-medium'>This month:
      {{cardStatistic.orderThisMonth}}</span>
  </p>
</div>