<div
  class='max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700'
>
  <div class='bg-red-100 rounded-md p-2 w-fit'>
    <svg
      class='w-7 h-7 text-red-800 dark:text-white'
      aria-hidden='true'
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      fill='none'
      viewBox='0 0 24 24'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207'
      />
    </svg>

  </div>

  <h5
    class='mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white'
  >Revenue</h5>
  <p
    class='mb-3 text-gray-600 font-semibold dark:text-gray-400 flex justify-between text-lg'
  >
    Total: 2047282 VNĐ
  </p>
  <p class='font-normal text-gray-500 dark:text-gray-400 flex justify-between'>
    <span class='text-md text-blue-500 font-medium'>Today: 50000 VNĐ</span>
    <span class='text-md text-blue-500 font-medium'>This month: 500000 VNĐ</span>
  </p>
</div>