<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link href="/css/app.css" rel="stylesheet" />
  <title>{{#if viewData.title}}{{ viewData.title }}{{else}}Online Store{{/if}}</title>
</head>
<body>
  <div class="">
    {{> _toast}}
    <div class="sidebar">
      {{> _sidebar}}
    </div>
    <div class='sm:ml-64'>
      <div class=''>
        {{> _header}}
        {{> content}}
      </div>
      {{> _footer}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script src="/javascript/revenue.js"></script>
  <script src="/javascript/feedback.js"></script>
  <script src="/javascript/formatRating.js"></script>
  <script src="/javascript/toast.js"></script>
</body>
</html>